.jumbotron {
	background-image: url(../image/bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	height: 700px;
	text-align: center;

}

.jumbotron .display-4 {
	color: white;
}

.jumbotron .lead {
	color: rgb(189, 178, 178);
	font-size: 50px;
	margin-top: 50px;
}

.jumbotron p {
	color: black;
	font-size: 18px;
}

.jumbotron hr {
	border-color: white;
}

.form-container {
	margin-top: 50px;
	background: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
}

.container-tabel {
	margin-top: 50px;
	background: #fff;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px #000;
}
